{% extends "jobbase.html" %}
{% block body %}
<h2 style="color:green;text-align:end;width:100%;margin:0px auto;" class="mb-5 ">
    DashBoard :
</h2>
<hr class="horizontal-line-1">
<div class="row mt-5">
    <div class="col-sm-3 shadow p-3 mb-5 bg-body rounded mx-5">
        <img src="../static/images/Harsh.jpg" class="w-100">
    </div>
    <div class="col-sm-7 mt-4">
        <span class="text-success h4">Name : </span>
        <span class="h4">Harsh</span>
        <hr>
        <span class="text-success h4">Gender : </span>
        <span class="h4">Male</span>
        <hr>
        <span class="text-success h4">Location : </span>
        <span class="h4">Gorakhpur, Uttar Pradesh</span>
        <hr>
        <span class="text-success h4">Email : </span>
        <span class="h4">harsh@gamil.com</span>
        <hr>
        <span class="text-success h4">Qualifications : </span>
        <span class="h4">M.Tec.</span>
        <hr>

    </div>
</div>

{% endblock body %}