{% extends "adminbase.html" %}
{% block body %}
<h3 style="color:green;text-align:end; width:100%;">
    Job Seekers Management.
</h3>
<div style="width:100%;overflow-x:scroll;" class="mt-5">
    <table border="1" style="width:100%;margin:0px auto;" cellpadding="5px">
           <tr>
               <th>Name</th>
               <th>Gender</th>
               <th>Address</th>
               <th>Contact No.</th>
               <th>Email Address</th>
               <th>DOB</th>
               <th>Qualifications</th>
               <th>Experience</th>
               <th>Key Skills</th>
               <th>Registration Date</th>
           </tr>
            {% for j in js %}
            <tr>
                <td>{{j.name}}</td>
                <td>{{j.gender}}</td>
                <td>{{j.address}}</td>
                <td>{{j.contactno}}</td>
                <td>{{j.emailaddress}}</td>
                <td>{{j.dob}}</td>
                <td>{{j.qualification}}</td>
                <td>{{j.experience}}</td>
                <td>{{j.keyskills}}</td>
                <td>{{j.regdate}}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock body %}