{% extends "base.html" %}
{% block body %}
<h4 style="color:green;text-align:end;width:60%;margin:0px auto;" class="mb-5">
    Login Here :
</h4>
<p style="text-align:center" class="bg-info">
    {{msg}}
</p>


<div style="width:60%; margin: 0px auto;">
    <form action="{% url 'validate' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Enter User ID :</label>
            <input type="text" name="userid" required class="form-control">
        </div>
        <div class="form-group">
            <label>Enter Password : </label>
            <input type="password" name="password" class="form-control" required >
        </div>
        <div class="form-group">
            <label>Select User Type :</label>
            <select name="usertype" class="form-control" required>
                <option value="">-- select --</option>
                <option value="employer">Employer</option>
                <option value="jobseeker">Job Seeker</option>
                <option value="admin">Administrator</option>
            </select>
        </div>
        <div class="form-group pt-3">
            <input type="submit" value="Login" class="btn btn-success">
        </div>
    </form>
</div>

{% endblock body %}